<%- include("partials/header");-%>

<div class="blogmmain">
    <h1>Blog's</h1>
<p><%= homeContent%></p>

<% posts.forEach(post =>{ %>
    <h1><%= post.title %></h1> 
    <p><%= (post.content.substring(0, 450) + "...")%>
    <a href="/posts/<%= post._id %>">Read More</a></p>
 <% }); %>
</div>

<%- include("partials/footer");-%>



